name: docs
on:
  push:
    branches:
      - master
    paths:
      - "_docs/**"
      - ".github/workflows/docs.yml"
jobs:
  docs_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: pip install mkdocs-material
      - name: Install plugins
        run: |
          pip install --no-cache-dir \
            'mkdocs-awesome-pages-plugin>=2.2.1' \
            'mkdocs-git-revision-date-localized-plugin>=0.4' \
            'mkdocs-minify-plugin>=0.3' \
            'mkdocs-redirects>=1.0';
      - run: cd _docs && mkdocs gh-deploy --force
